---
layout: page
---

<h1 class="dynamic-title pt-6 mb-4">
  <i class="fas fa-tag"></i>
  {{ page.tag }}
</h1>

<div class="tag-list mt-5">
  {% for post in site.posts %}
    {% if post.tags contains page.tag %}
      <div class="card post-preview">
        <div class="card-body">
          <time datetime="{{ post.date | date_to_xmlschema }}">
            <small>{{ post.date | date: "%Y-%m-%d" }}</small>
          </time>
          <h2>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h2>
          <p class="text-muted">{{ post.excerpt | strip_html | truncate: 200 }}</p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% if site.posts size == 0 %}
<div class="lead">
  <p>还没有该标签的文章。</p>
</div>
{% endif %}
